@import "../../assets/style/globals";

.header {
  display: grid;
  grid-template-columns: minmax(4%, 6rem) 1fr;
  align-items: center;
  background-color: $color-secondary;

  .menu-switcher {
    font-size: 2rem;
    margin-left: 2rem;
    cursor: pointer;
    color: $color-primary;
  }

  .header-title {
    display: grid;
    justify-items: center;

    h1 {
      color: $color-primary;
    }
  }
}
