@import "../../assets/style/globals";

.sidebar {
  padding-bottom: 0.5rem;
  background-color: $color-primary;
  display: grid;
  grid-template-rows: 8% 1fr 5%;
  justify-content: center;
}

.sidebar-footer {
  display: grid;
  align-self: end;
}
