@import "../../assets/style/globals";

#sidebar-container {
  height: calc(100% - 5rem);
  z-index: 1001;
  width: 10%;
  position: fixed !important;
  display: grid;
  opacity: 0;
  visibility: hidden;
  background-color: $color-primary;

  transition: opacity 0.2s, visibility 0.2s;
  grid-template-rows: 4% 1fr 5%;
  justify-content: center;
}

.sidebar-footer {
  display: grid;
  padding-bottom: 0.5rem;
  align-self: end;
}
